<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Date</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/meeting-room-details/1">
                <i class="fas fa-chevron-circle-left"></i>
            </a>
            <a class="navbar-brand" href="/homepage">Book A MeetingRoom</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdownNav">
                <a href="/user/user-profile">My Profile</a>
                <div class="dropdownNav-content">
                    <a class="btn btn-default" href="/user/profile-change-requests">My Change Request Status</a>
                    <a th:if="${role} == 'TL' or ${role} == 'PM'" class="btn btn-default" href="/change-requests">User Requests</a>
                </div>
            </li>
            <li class="active"><a href="/meeting-room-details/1">Rooms</a></li>
            <li class="dropdownNav">
                <a href="/user/booking-status/1">Bookings</a>
                <div class="dropdownNav-content">
                    <a class="btn btn-default" href="/booking-history">Booking History</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Booking Confirmation</h4>
                    <span th:utext="${userName}"></span><br>
                </div>
                <div class="panel-body">
                    <div align="center">
                        <table th:each="bookingDetail: ${bookingDetails}">
                            <tr><td>ID</td><td th:text="${bookingDetail.id}">1</td></tr>
                            <tr><td>Meeting Room</td><td th:text="${bookingDetail.meetingRoom.name}">Test</td></tr>
                            <tr><td>Start Time</td><td th:text="${bookingDetail.startTime}">TestLocation</td></tr>
                            <tr><td>End Time</td><td th:text="${bookingDetail.endTime}">[AC]</td></tr>
                            <tr><td>
                                    <a th:href="@{/confirmBookRoom}" onclick="return confirm('Confirm booking?');"
                                       class="btn btn-primary">confirm Booking
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{'/cancelBookRoom/' + ${bookingDetail.id}}"
                                       onclick="return confirm('Cancel booking?');"
                                       class="btn btn-danger">Cancel Booking
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>