<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:switch="${role}">
        <div th:case="ADMIN">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand active" href="#">Book A MeetingRoom</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/admin/user-management/1">Users</a></li>
                        <li><a href="/meeting-room-details/1">Rooms</a></li>
                        <li><a href="/admin/booking-requests/1">Bookings</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="panel-group" style="margin-top:40px">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Admin Console</h4>
                        </div>
                        <div class="panel-body">
                            <span th:utext="${userName}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="USER">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand active" href="#">Book A MeetingRoom</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/user/user-profile">User Profile</a></li>
                        <li><a href="/meeting-room-details/1">Rooms</a></li>
                        <li><a href="/user/booking-status/1">Bookings</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="panel-group" style="margin-top:40px">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>User Console</h4>
                        </div>
                        <div class="panel-body">
                            <span th:utext="${userName}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p th:case="*">User is some other thing...</p>
    </div>
</body>
</html>