<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:switch="${role}">
    <div th:case="ADMIN">
        <div class="container">
            <div class="panel-group" style="margin-top:40px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><span th:utext="${meetingRoomDetails}"></span></h4>
                        <span th:utext="${userName}"></span>
                        <div style="float:right;">
                            <form th:action="@{/logout}" method="get">
                                <button class="button2" name="logout"
                                        type="Submit">Logout</button>
                            </form>
                        </div>
                        <div style="float:right;">
                            <form th:action="@{/admin/add-room}" method="get">
                                <button class="button2" name="add-room"
                                        type="Submit">Add Room</button>
                            </form>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Facilities</th>
                                <th>Status</th>
                                <th colspan="2">Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="meetingRoom: ${meetingRooms}">
                                <td th:text="${meetingRoom.id}">1</td>
                                <td th:text="${meetingRoom.name}">Test</td>
                                <td th:text="${meetingRoom.location}">TestLocation</td>
                                <td th:text="${meetingRoom.facilities}">[AC]</td>
                                <td th:text="${meetingRoom.status}">Available</td>
                                <td>
                                    <a th:href="@{/admin/updateMeetingRoom/{id}(id=${meetingRoom.id})}"
                                       class="btn btn-primary">Edit
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/admin/deleteMeetingRoom/{id}(id=${meetingRoom.id})}"
                                       class="btn btn-danger">Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center" th:utext="${successMessage}"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:case="USER">
        <div class="container">
            <div class="panel-group" style="margin-top:40px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><span th:utext="${meetingRoomDetails}"></span></h4>
                        <span th:utext="${userName}"></span>
                        <div align="right">
                            <form th:action="@{/logout}" method="get">
                                <button class="button2" name="logout"
                                        type="Submit">Logout</button>
                            </form>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Facilities</th>
                                <th>Status</th>
                                <th colspan="2">Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="meetingRoom: ${meetingRooms}">
                                <td th:text="${meetingRoom.name}">Test</td>
                                <td th:text="${meetingRoom.location}">TestLocation</td>
                                <td th:text="${meetingRoom.facilities}">[AC]</td>
                                <td th:text="${meetingRoom.status}">Available</td>
                                <td>
                                    <a th:href="@{/user/bookRoom/{id}(id=${meetingRoom.id})}"
                                       class="btn btn-primary">Book
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/user/cancelBooking/{id}(id=${meetingRoom.id})}"
                                       class="btn btn-danger">Cancel
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center" th:utext="${successMessage}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>